body{
  font-family: Helvetica;
  font-size: 16pt;
}

/* -----------revealing output------------- */
input:checked + div { display: none; }

.r{ /* Code block */
    font-size: 20px;
}

pre { /* Code block - determines code spacing between lines */
    font-size: 20px;
}

/* -----------div tips------------- */

  div.puzzle, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }

div.puzzle {
  background-image: url("../img/Your-turn.png");
  background-color: #AFD275;
  border-color: #479761;
}

div.fyi {
 background-image: url("../img/fyi.png");
}

div.demo {
  background-image: url("../img/Live-code.png");
}

div.note {
  background-image: url("../img/lightbulb.png");
  background-color: #F3D250;
#FCCD04;
  border-color: #FFE400;
}